.tracking-bar {
  border-radius: 15px;
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, #BB6BD9 0%, #9144D8 100%);
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 10px 0;
}

.tracking-tasks {
  overflow: auto;
  width: 180px;
}