/* TaskForm css styling */
.text-field {
  width: 170px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-form {
  display: block;
  padding: 5px;
}

.hide-form {
  display: none;
}

/* Add Label css styling*/
.label-selection-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  border: solid 1px #C4C4C4;
  border-radius: 5px;
}

.label-selection-container:hover {
  border: solid 1px #212121;
}

.labels-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 40px;
  padding: 5px;
  gap: 10px;
}

.label-selection {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  align-items: center;
  height: 40px;
  padding: 5px 0;
}

/* Label Colour Btn css styling */
.radio-btn-container {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.radio-btn-on {
  opacity: 0.5;
}

/* LabelForm css styling */
.label-colours-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 5px 0;
}