  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
}

::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5); 
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
  border-radius: 5px;
} 

/* .App {
  background: linear-gradient(90deg, rgba(170,241,255,1) 0%, rgba(74,74,210,1) 100%, rgba(2,0,36,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  padding: 5px;
}

.titleHeader {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid #282828;
  height: 25px;
  margin: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
}

.timeHeader {
  font-size: 40px;
  margin-top: 0px;
  height: 50px;
  font-weight: bold;
}


.greyBox {
  display: block;
  background-color: #282828;
  margin: 5px;
  min-height: 200px;
  padding: 5px;
}

.taskContainer {
  padding: 2px;
  display: grid;
  grid-row-gap: 10px;
  padding: 10px;
  background-color: #282828;
  margin-bottom: 10px;
}

.timeHeading {
  text-align: right;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 24pt;
  font-weight: bold;
  color: #FAF9F9;
  padding-right: 5px;
  margin-top: -5px;
}

.taskNameHeading {
  float: left;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: #FAF9F9;
  padding-right: 5px;
  padding-top: 5px;
}

.tasksListContainer {
  display: block;
  margin: 5px;
}

.taskBtn {
  margin: 10px;
} */