.Popup {
  font-family: 'Roboto', sans-serif;
  width: 500px;
  height: 350px;
  background-color: #FAF9F9;
  display: flex;
  font-size: 14px;
}

.tab-container {
  width: 450px;
  height: 100%;
  padding: 15px 25px;
  background-color: #252525;
  color: #e0e0e0;
  overflow: auto;
}

.sub-heading {
  font-size: 16px;
  color: #bdbdbd;
  margin-bottom: 5px;
  font-weight: bold;
}

.heading {
  font-size: 20px;
  color: #bdbdbd;
  margin-bottom: 10px;
  font-weight: bolder;
}

.task-name {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.task-colour {
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}